.navbar {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.navbar_scroll {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  background-color: rgb(238, 236, 233);
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.logo_image {
  height: 3em;
  margin-left: 1em;
  margin-top: 0.4em;
}

.navbar_icon {
  color: black;
}

.navbar_icon_button {
  background-color: transparent;
  border-style: none;
  height: 3em;
  margin-right: 1em;
  margin-top: 0.9em;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 650px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1220px) {
}
