.navbar {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  background-color: rgb(238, 236, 233);
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.logo_image {
  height: 3em;
  margin-left: 1em;
  margin-top: 0.4em;
}

.navbar_icon {
  color: black;
}

.navbar_icon_button {
  background-color: transparent;
  border-style: none;
  height: 3em;
  margin-right: 1em;
  margin-top: 0.9em;
  cursor: pointer;
}
