.list_close {
  display: flex;
  justify-content: center;
  color: #14262e;
  font-family: Marcellus, Noto Sans TC, sans-serif;
  font-size: 1.2em;
  list-style-type: none;
  padding: 0;
}

.list_items {
  margin: 1em;
}

.links {
  text-decoration: none;
}

.links:visited {
  color: black;
}

.list_open {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-right: 1em;
  font-size: 1.8em;
  text-align: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 650px) {
  .list_close {
    display: none;
  }

  .list_open {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-right: 1em;
    font-size: 1.8em;
    text-align: center;
    justify-content: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

@media only screen and (min-width: 1220px) {
}
